.jumbotron {
  margin-left: 100px;
  background-image: url(https://cdn.pixabay.com/photo/2016/07/29/19/19/gleise-1555348__340.jpg);
}

.card {
  margin-left: 100px;
}

#button {
  background-color: rgb(42, 145, 241);
  color: white;
  border-radius: 40px;
}

#searchbar {
  width: 100%;
}

#cardHead {
  background-color: teal;
  color: white;
}

#jumbo {
  margin-left: 100px;
  font-weight: bold;
  font-size: 90px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

#jumbo2 {
  margin-left: 350px;
  font-weight: bold;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

#jTron {
  background-color: tomato;
}
